*node_modules*
*npm-debug.log*

.nvimrc
.vimrc

browserstack

dump.rdb

client-config.js

coverage

dist/client/css
dist/client/js/app
dist/server

error/*.html
error/css

ops/runbook/rendered

test/load-tests
test/gatling.log
test/load-tests/project/project/target/

cred.json

# Speculate
*.service
/SOURCES
/SPECS
